<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=DANIEL-VM;Initial Catalog=dbventas;Integrated Security=SSPI"
            providerName="SQLOLEDB.1" />
    </connectionStrings>
</configuration>